/* .module.css : needed for next to style uniquely to targeted js file */

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin: 0 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn__white {
  background-color: #fff;
  color: #777;
}

.btn__white::after {
  background-color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  margin: 0 auto ;
}

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  width:90%;
  max-width: 600px;
  margin: 5rem auto;
}

.card__side {
  height: 52rem;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side__front {
  background-color: #fff;
}

.card__side__front_1 {
  background: crimson;
}

.card__side__back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side__back_1 {
  background: crimson;
}

.card:hover .card__side__front_1 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card__title {
  height: 10rem;
  padding: 2rem 1rem ;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.card__title__back {
  height: 10rem;
  padding:5rem 2rem 1rem 1rem;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.card__details {
  padding: 0 2rem 2rem;
}

.card__details img {
  width: 95%;
  max-height: 35rem;
  margin: 0 auto;

}

.card__infos {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__description {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
